.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	height: 100%;
}

.carouselContainer {
	display: flex;
	transition: transform 0.3s linear;
	min-height: 100%;
}

.carouselSlide {
	min-width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	color: #fff;
}

.carouselDots {
	position: absolute;
	bottom: 0.25rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 0.15rem;
	padding: 0.125rem;
}

.carouselDot {
	--colorDot: #ccc;
	--colorRing: transparent;
	position: relative;
	margin: 0.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
}

.carouselDot::after,
.carouselDot::before {
	position: absolute;
	aspect-ratio: 1 / 1;
	content: "";
}

.carouselDot::after {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background-color: var(--colorDot);
}

.carouselDot::before {
	height: 100%;
	border-radius: 50%;
	border: 0.09rem solid var(--colorRing);
}

.active {
	--colorDot: #84cbbf;
	--colorRing: #84cbbf;
}
