.home {
	color: white;
	display: grid;
	grid-template-rows: min-content auto;
}

.homeScreen {
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
	margin: 0 3.45rem 2.125rem 0;
}

@media (orientation: portrait) {
	.homeScreen {
		align-items: start;
	}
}
