.home {
  color: white;
  display: grid;
  grid-template-rows: min-content auto ;
}

.homeScreen {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  margin: 0 55px 120px 0;
}