.season {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1.35rem 1rem;
}

.seasonName {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0;
}

.seasonName h3 {
	position: absolute;
	top: -1.6rem;
	font-family: "Beni", sans-serif;
	width: max-content;
	font-size: 2.5rem;
	color: #ffffff40;
}

.seasonName h4 {
	position: absolute;
	bottom: -1.25rem;
	font-size: 0.625rem;
	width: max-content;
	font-weight: bold;
}

.logoContainer {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.15rem solid white;
	opacity: 0.25;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoContainer svg {
	width: 50%;
	height: 50%;
}

@media (orientation: portrait) {
	.season {
		margin: 2rem 0;
	}
}
